/* cards are 340x600, present small so zoom is clean */
:root {
    --img-width: 200px;
    --img-height: 353px;
    --card-vgap: 40px;
}

body {
    background: #1b1a23;
    color:lightgray;
    text-align: center;
    margin: 100px;
}

#deck-title {
    color:lightgray;
    text-align: center;
    font-size: 1em;
    padding: 0px;
}

#layout-container {
    display: flex;
    position: relative;
    background-color: #2b2a33;
    border: 50px solid #2b2a33;
    border-radius: 30px;
    justify-content: space-between;
    width: calc( var(--img-width) * 5 + 50px);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    position: relative;
    font-size: 1.5em;
    text-align: center;
    /* with of layout plus border */
    width: calc( var(--img-width) * 5 + 50px + 100px);
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(var(--img-width));
    gap: var(--card-vgap);
}

.card {
    display: block;
    width: var(--img-width);
    height: var(--img-height);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    perspective: 1000px;
    transition: transform 0.8s;
}

.card:hover { 
    z-index: 1;
}


.card-inner {
    width: var(--img-width);
    height: var(--img-height);
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-inner.is-flipped {
    transform: scale(170%) rotateY(180deg);
}

#card-2 .card-inner.is-flipped {
    transform: scale(170%) rotate(-90deg) rotateY(180deg);
}

.card-front, 
.card-back {
    position: absolute;
    width: var(--img-width);
    height: var(--img-height);
    backface-visibility: hidden;
}

#card-backing img,
.card-front img {
    width: var(--img-width);
    height: var(--img-height);
    margin-left: auto;
    margin-right: auto;
    background: black;
}


.card-back {
    background-color: #000000CC;
    color: lightgray;
    transform: rotateY(180deg);
}

.card-back p {
    text-align: left;
    font-size: 0.6em;
    margin-left: 5%;
    margin-right: 5%;
}

.card-back .card-title {
    text-align: center;
    font-style: bold;
}

#card-backing {
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0px; 
}

#card-backing:hover {
    z-index: 0;
}

/* turn and lay 2nd card over first */
#card-2 {
  transition: transform 0.8s;
  margin-top: calc(-1 * ((var(--img-height) + var(--img-width)) / 2
                    + var(--card-vgap)));
  margin-bottom: calc((-1 * var(--img-width) / 2) + var(--card-vgap));
  transform: rotate(90deg);
}

/* adjust column width for turned card */
#col-2 {
    width: calc(var(--img-height));
}

/* round the cards */
.card-front img,
#card-backing img,
.card-back { 
    border: 1px solid black;
    border-radius: 10px;
}
